/*//--------------------------- Variables ------------------------------ //*/
:root {
  --color-primary: #37b24d;
  --color-primary-lighter: #87d194;
  --color-primary-lighter-1: #c3e8ca;
  --color-primary-lightest: #ebf7ed;
  --color-primary--darker: #216b2e;
  --color-secondary: #f03e3e;
  --color-secondary-darker: #c03232;
  --color-secondary-lighter: #cd5b5b;
  --font-color-headings: #0b240f;
  --font-color-text: #090909;
  --font-color-text-light: #323232dc;
  --font-color-link: #ffec99;
  --img-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --box-shadow: 1.2rem 1.4rem 1.2rem -1rem rgba(0, 0, 0, 0.3); }

/*//----------------- MAIN LAYOUT  ----------------------*/
/*// Global Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0; }

html {
  /*// size of box to include border  */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*// set a global font-size of 1em = 10px on all containers */
  font-size: 62.5%; }

/*////////// GLOBAL STYLES ///////////*/
body {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  font-size: inherit;
  font-family: 'Monserrat', sans-serif;
  color: var(--font-color-text);
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  color: var(--font-color-headings); }

h1 {
  font-size: 5.4rem;
  text-shadow: 1px 2px 3px #216b2e;
  margin-bottom: 4rem;
  line-height: 1.1; }

h2 {
  font-size: 2rem;
  letter-spacing: .3px; }

h3 {
  font-size: 2.4rem;
  padding: 6.4rem 0 6.4rem 4rem; }

h4 {
  font-size: 2rem;
  margin-bottom: 2rem; }

#about-us,
#services,
#contact {
  height: 100vh; }

#title,
#about-us,
#contact,
.container,
footer {
  max-width: 128rem;
  margin: 0 auto; }

/*//////////// HEADER ////////////// */
header {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(70%, rgba(135, 209, 149, 0.252)), to(#216b2f));
  background-image: -o-linear-gradient(top, rgba(135, 209, 149, 0.252) 70%, #216b2f);
  background-image: linear-gradient(to bottom, rgba(135, 209, 149, 0.252) 70%, #216b2f); }

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 12rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #c3e8ca;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(90%, rgba(195, 232, 202, 0.05)), to(rgba(33, 107, 47, 0.6)));
  background-image: -o-linear-gradient(bottom, rgba(195, 232, 202, 0.05) 90%, rgba(33, 107, 47, 0.6));
  background-image: linear-gradient(to top, rgba(195, 232, 202, 0.05) 90%, rgba(33, 107, 47, 0.6)); }

header nav img,
footer img {
  max-width: 10rem;
  margin-left: 8rem;
  margin-top: 2rem;
  border-radius: 50%; }

nav ul {
  font-size: 1.8rem;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
  margin-right: 10rem; }

nav ul li a:link,
nav ul li a:visited {
  color: var(--font-color-link);
  background-color: var(--color-primary--darker);
  font-size: 1.8rem;
  text-decoration: none;
  display: inline-block;
  padding: .6rem 1.2rem;
  border-radius: 8px;
  -webkit-transition: all .15s;
  -o-transition: all .15s;
  transition: all .15s;
  cursor: pointer; }

nav ul li a:hover,
nav ul li a:active {
  -webkit-transform: translateY(-0.2rem) scale(1.05);
      -ms-transform: translateY(-0.2rem) scale(1.05);
          transform: translateY(-0.2rem) scale(1.05);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow); }

nav ul li:last-child a:link,
nav ul li:last-child a:visited {
  background-color: var(--color-secondary); }

/*////// Hidden mobile navigation ///////*/
nav > a:link {
  display: none;
  visibility: hidden;
  opacity: 0; }

#title {
  max-width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
  justify-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start; }

.text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.6rem; }

.text-box p {
  font-size: 2rem; }

#title img {
  max-width: 100%;
  border-radius: 1.2rem;
  -webkit-box-shadow: var(--img-shadow);
          box-shadow: var(--img-shadow); }

#title a:link,
#title a:visited {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem 2rem;
  color: var(--font-color-link);
  background-color: var(--color-primary--darker);
  border-radius: 16px;
  text-decoration: none;
  -webkit-transition: all .15s;
  -o-transition: all .15s;
  transition: all .15s;
  text-align: center;
  -ms-flex-item-align: center;
      align-self: center; }

#title a:hover,
#title a:active {
  -webkit-transform: translateY(-0.2rem) scale(1.1);
      -ms-transform: translateY(-0.2rem) scale(1.1);
          transform: translateY(-0.2rem) scale(1.1);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  background-color: var(--color-secondary); }

#title span {
  font-size: 2.1rem;
  text-decoration: underline;
  text-decoration-color: var(--color-secondary-lighter); }

/*/////////////  MAIN  ////////////// */
/*/////// About us ///////// */
#about-us {
  background-image: url(../images/Girl_at_optician.jpg);
  background-size: 50%;
  background-position: 0% 50%;
  background-repeat: no-repeat;
  -webkit-filter: drop-shadow(1rem 1rem 1rem rgba(0, 0, 0, 0.3));
          filter: drop-shadow(1rem 1rem 1rem rgba(0, 0, 0, 0.3));
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem; }

.about__grid {
  display: grid;
  grid-template-columns: 10rem 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.4rem;
  padding-right: 3rem; }

#about-us h3 {
  -ms-flex-item-align: start;
      align-self: flex-start; }

#about-us p {
  font-size: 1.6rem;
  width: 100%;
  margin-bottom: .5rem; }

#about-us svg {
  width: 2.4rem;
  height: 2.4rem;
  stroke: var(--color-primary--darker);
  background-color: var(--color-primary-lighter-1);
  padding: 1rem;
  display: block;
  margin-bottom: .6rem;
  border-radius: 50%;
  margin-left: 5rem; }

/*///////// Services ///////// */
#services {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(75%, rgba(135, 209, 149, 0.252)), to(#216b2f));
  background-image: -o-linear-gradient(top, rgba(135, 209, 149, 0.252) 75%, #216b2f);
  background-image: linear-gradient(to bottom, rgba(135, 209, 149, 0.252) 75%, #216b2f); }

.services__grid {
  padding: 0 1rem;
  display: grid;
  grid-template-columns: 7fr 3fr;
  gap: 6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center; }

#services h3 {
  margin-bottom: 4rem; }

#services ul {
  background-color: #fff;
  padding: 4rem;
  list-style: none;
  justify-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  width: 90%; }

#services ul li {
  font-size: 1.8rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: .6rem; }

#services li svg {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: .4rem;
  stroke: var(--color-primary--darker); }

aside {
  display: inline-block;
  padding: 2rem 3.2rem 4rem;
  width: 90%;
  justify-self: flex-end;
  background-color: #fff;
  border: .1px solid #f8f8f8;
  border-radius: 1rem;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow); }

aside h4 {
  font-size: 2.8rem;
  margin-bottom: 4.8rem; }

aside img:hover {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3); }

aside img {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  margin-right: 2rem; }

figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

figure:first-of-type {
  margin-bottom: 4.8rem; }

figcaption blockquote {
  font-size: 1.6rem; }

blockquote i {
  display: inline-block;
  margin-bottom: 1.2rem;
  font-size: 1.6rem; }

blockquote p:first-of-type {
  font-size: 1.4rem; }

blockquote p:last-of-type {
  font-size: 1.2rem;
  color: var(--font-color-text-light); }

/*///////// Contact ///////// */
#contact {
  background-size: 79rem;
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-image: url(../images/brissy.jpg);
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

form {
  width: 85%;
  padding: 4.1rem 4rem;
  background-color: #fff;
  background-color: var(--color-primary-lightest);
  border: 4px solid var(--color-primary--darker); }

#contact h3 {
  -ms-flex-item-align: start;
      align-self: flex-start; }

form h4 {
  font-size: 2rem;
  margin-bottom: 4.4rem; }

label {
  text-transform: uppercase;
  margin-bottom: .5rem;
  color: var(--font-color-text); }

input,
textarea {
  padding: .5rem 1rem;
  width: 80%;
  margin-bottom: 2.4rem; }

label,
input,
textarea {
  display: block;
  margin-left: 3.6rem; }

textarea {
  resize: none; }

form button {
  display: block;
  font-weight: 600;
  padding: 1rem 2.4rem;
  color: var(--font-color-link);
  background-color: var(--color-primary--darker);
  border-radius: 10px;
  border: none;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  -webkit-transition: all .15s;
  -o-transition: all .15s;
  transition: all .15s;
  cursor: pointer;
  margin-left: 40%; }

form button:hover {
  -webkit-transform: translateY(-0.2rem) scale(1.05);
      -ms-transform: translateY(-0.2rem) scale(1.05);
          transform: translateY(-0.2rem) scale(1.05);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  background-color: var(--color-secondary); }

/*///////// footer ///////// */
hr {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 6rem; }

footer {
  /* display: flex;
	align-items: flex-start;
	justify-content: space-around; */
  width: 65%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-bottom: 8rem; }

footer ul {
  font-size: 1.6rem;
  list-style: none; }

footer img {
  -ms-flex-item-align: center;
      align-self: center;
  /* justify-self: center; */
  margin: 0; }

/*//-------------------- MEDIA QUERIES ----------------------- */
@media screen and (max-width: 81.25em) {
  html {
    /*// Original font-size 1rem = 10px (10/16 = 62.5%) */
    /*// 1300px font-size 1rem = 9px (9/16 = 56.25%) */
    font-size: 56.25%; }
  nav {
    margin-bottom: 10rem; }
  nav ul {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    margin-right: 15rem; }
  .services__grid {
    padding: 0 1rem;
    display: grid;
    gap: 2.4rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center; }
  #services ul {
    padding: 2rem;
    width: 95%; }
  aside {
    padding: 2rem;
    width: 90%;
    justify-self: flex-end; }
  figure:first-of-type {
    margin-bottom: 2.4rem; }
  form {
    padding: 3.1rem; } }

/*/////////// 1000px //////////// */
@media screen and (max-width: 62.5em) {
  html {
    /*// Original font-size 1rem = 10px (10/16 = 62.5%) */
    /*// 1300px font-size 1rem = 9px (9/16 = 56.25%) */
    /*// 1000px font-size 1rem = 8px (8/16 = 50%) */
    font-size: 50%; }
  #about-us,
  #services,
  #contact,
  header {
    height: 85vh; }
  nav {
    margin-bottom: 6rem; }
  .text-box {
    gap: 1rem; }
  #title img {
    -ms-flex-item-align: center;
        align-self: center;
    margin-bottom: 10rem; }
  #title a:link,
  #title a:visited {
    margin-top: 1.8rem;
    padding: .5rem 1rem;
    text-align: center;
    -ms-flex-item-align: center;
        align-self: center; }
  .services__grid {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    justify-items: center; }
  #services ul {
    padding: 4rem;
    display: block;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 80%; }
  aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 6rem;
    width: 80%;
    justify-self: center; }
  form {
    padding: 2.1rem; } }

/* ////////// 810px ///////////// */
@media screen and (max-width: 50.5em) {
  #about-us,
  #services,
  #contact,
  header {
    height: 100vh; }
  nav {
    width: 100%; }
  nav > a:link {
    display: inline-block;
    visibility: visible;
    opacity: 1;
    padding: 3rem; }
  nav a svg {
    stroke: var(--color-primary);
    width: 6.4rem;
    height: 6.4rem; }
  nav ul {
    display: none;
    visibility: hidden;
    opacity: 0; }
  #title {
    grid-template-columns: 1fr;
    gap: 1rem; }
  #title img {
    width: 60%; 
		margin-top: 2rem;
				
}
  .text-box {
    gap: 3rem; }
  h3 {
    font-size: 2.4rem;
    padding: 6.4rem 0;
    text-align: center; }
  #about-us {
    background-size: 60%;
    background-position: 50% 25%;
    grid-template-columns: 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3rem; }
  .about__grid {
    grid-template-columns: 10rem 1fr;
    gap: 2.4rem;
    padding: 1.6rem 3.2rem; }
  .services__grid {
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center; }
  #services ul {
    padding: 1rem;
    justify-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 85%; }
  #services ul li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    font-size: 1.6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: .6rem; }
  aside {
    display: inline-block;
    padding: 1rem 2rem;
    width: 85%;
    justify-self: center; }
  #contact {
    background-size: 55%;
    background-position: 50% 25%;
    grid-template-columns: 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    gap: 10rem; }
  form {
    width: 50%; }
  footer {
    grid-template-columns: 1fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem; } }

/* ////////// 585px ///////////// */
@media screen and (max-width: 36.5em) {
  header {
    height: 80vh; }
  header nav img {
    width: 8rem;
    height: 8rem;
    margin-top: 2rem;
    margin-left: 2rem; }
  nav > a:link {
    padding: 1rem 3.2rem; }
  h1 {
    font-size: 4rem; }
  h3 {
    padding: 2rem 0; }
  .text-box {
    gap: 1em;
    margin-bottom: 1.6em; }
  #title hr {
    display: none; }
  #about-us {
    background-size: 60%;
    background-position: 50% 15%;
    height: 85vh;
    gap: 6rem; }
  #services {
    margin-bottom: 10rem;
    padding-bottom: 8rem; }
  #services ul {
    display: block;
    padding: 4rem;
    width: 60%; }
  #services ul li {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-size: 1.6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: .6rem; }
  #contact {
    background-size: 55%;
    background-position: 50% 15%;
    gap: 0rem; }
  form {
    width: 80%;
    padding: 3rem 2.1rem; }
  footer {
    row-gap: 1.6rem;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0; } }

/* ////////// 400px ///////////// */
@media screen and (max-width: 25em) {
  h1 {
    font-size: 3em; }
  h2 {
    font-size: 1.6rem; }
  header {
    height: 50vh; }
  #title img {
    display: none; }
  .about__grid {
    padding-left: 0;
    padding-top: 0; }
  #about-us {
    background-image: none;
    padding: 0;
    height: 50vh;
    gap: 0; }
  #about-us h3 {
    padding: 3.2rem 3.2rem 0; }
  #services {
    height: 100vh;
    margin-bottom: 4rem; }
  #contact {
    background-image: none;
    gap: 0;
    padding: 0;
    height: 75vh; }
  form {
    -ms-flex-item-align: start;
        align-self: flex-start; } }

@media screen and (max-width: 23.5em) {
  nav {
    margin-bottom: 1rem; }
  h1 {
    margin-bottom: 1rem; }
  #about-us {
    height: 70vh;
    display: block; }
    #about-us h3 {
      margin-bottom: 1em; }
  #services {
    height: 130vh; } }

@media screen and (max-width: 17.5em) {
  html {
    /*//--- 1rem = 7px---//*/
    font-size: 43.7%; }
  footer {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 1rem; } }
