/*//--------------------------- Variables ------------------------------ //*/

:root {

  --color-primary: #212529;
  --color-primary-lighter: #4d5154;
  --color-primary-lightest: #a6a8a9;
  --color-primary--darker: #1a1e21;
  --color-primary--darkest: #0a0b0c;


  --color-secondary: #e8590c;
  --color-secondary-darker: #a23e08;
  --color-secondary-darkest: #5d2405;
  --color-secondary-lighter: #ef8b55;
  --color-secondary-lightest: #f6bd9e;


  --font-color-headings: #e9e9ea;
  --font-color-text: #d3d3d4;
  --font-color-text-light: #fff;
  --font-color-text-dark: #212529;
  --font-color-link: #e8590c;


  --img-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --img-shadow-dark: 2.4rem 2.4rem 4.8rem .5rem rgba(0, 0, 0, 0.44);
  --box-shadow: 1.2rem 1.4rem 1.2rem -1rem rgba(0, 0, 0, 0.3);
  --box-shadow--light: 1.2rem 1.6rem 2rem -1rem rgba(0, 0, 0, 0.118);
  --box-shadow--heavy: 1.2rem 1.6rem 3.2rem rgba(0, 0, 0, 0.599);


  --gradient-black: to right, rgb(33, 37, 41) 35%, transparent;
  --gradient-blackest: to right, rgb(26, 30, 33) 50%, rgba(33, 37, 41, 0.45);
  --gradient-blackest-70: to right, rgb(26, 30, 33) 70%, rgba(33, 37, 41, 0.45);

}