/*//--------------------------- Variables ------------------------------ //*/

:root {

  --color-primary: #37b24d;
  --color-primary-lighter: #87d194;
  --color-primary-lighter-1: #c3e8ca;
  --color-primary-lightest: #ebf7ed;
  --color-primary--darker: #216b2e;
  --color-secondary: #f03e3e;
  --color-secondary-darker: #c03232;
  --color-secondary-lighter: #cd5b5b;
  --font-color-headings: #0b240f;
  --font-color-text: #090909;
  --font-color-text-light: #323232dc;
  --font-color-link: #ffec99;
  --img-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --box-shadow: 1.2rem 1.4rem 1.2rem -1rem rgba(0, 0, 0, 0.3);

}